In [99]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
from scipy.stats import binom

In [100]:
pd.set_option('display.max_columns', None)
df = pd.read_csv("D:\Hero vired\Hypothesis\property.csv")
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [101]:
df_altona = df[df['Suburb'] == 'Altona']
df_altona

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
141,Altona,158 Queen St,3,h,520000.0,VB,Greg,3/09/2016,13.8,3018.0,3.0,2.0,1.0,352.0,242.0,2015.0,Hobsons Bay,-37.87000,144.82500,Western Metropolitan,5301.0
142,Altona,59 Bracken Gr,5,h,1525000.0,S,Greg,3/12/2016,13.8,3018.0,5.0,3.0,3.0,729.0,268.0,2005.0,Hobsons Bay,-37.87210,144.81050,Western Metropolitan,5301.0
143,Altona,1/123 Blyth St,2,t,720000.0,S,hockingstuart,4/02/2016,13.8,3018.0,2.0,1.0,2.0,292.0,125.0,2013.0,Hobsons Bay,-37.86870,144.81970,Western Metropolitan,5301.0
144,Altona,4 Blyth St,3,h,1120000.0,S,Barlow,4/03/2017,13.8,3018.0,3.0,1.0,2.0,506.0,120.0,1930.0,Hobsons Bay,-37.86930,144.83750,Western Metropolitan,5301.0
145,Altona,20 Linnet St,4,h,780000.0,PI,Sweeney,4/06/2016,13.8,3018.0,4.0,1.0,4.0,655.0,NaN,NaN,Hobsons Bay,-37.86800,144.81540,Western Metropolitan,5301.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12216,Altona,86 Grieve Pde,3,h,913000.0,S,Greg,3/09/2017,11.0,3018.0,3.0,2.0,3.0,530.0,148.0,1985.0,NaN,-37.86140,144.81931,Western Metropolitan,5301.0
12432,Altona,7/35 Grieve Pde,2,u,458000.0,SP,hockingstuart,9/09/2017,11.0,3018.0,2.0,1.0,1.0,63.0,75.0,1975.0,NaN,-37.86933,144.81704,Western Metropolitan,5301.0
12634,Altona,6 Myrtle Gr,3,h,1248500.0,S,RT,16/09/2017,11.0,3018.0,3.0,1.0,3.0,710.0,NaN,NaN,NaN,-37.87182,144.81600,Western Metropolitan,5301.0
13338,Altona,20 Burt St,3,h,920000.0,VB,PRD,26/08/2017,11.0,3018.0,3.0,2.0,2.0,584.0,NaN,NaN,NaN,-37.86249,144.82162,Western Metropolitan,5301.0
13339,Altona,1/76 Queen St,2,u,801250.0,S,Sweeney,26/08/2017,11.0,3018.0,2.0,1.0,1.0,245.0,NaN,NaN,NaN,-37.87046,144.83482,Western Metropolitan,5301.0

In [102]:
df_altona_typical = df_altona[df['Type'] == 't']
df_altona_typical

C:\Users\pusha\AppData\Local\Temp\ipykernel_7616\664247674.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_altona_typical = df_altona[df['Type'] == 't']

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
143,Altona,1/123 Blyth St,2,t,720000.0,S,hockingstuart,4/02/2016,13.8,3018.0,2.0,1.0,2.0,292.0,125.0,2013.0,Hobsons Bay,-37.86870,144.81970,Western Metropolitan,5301.0
153,Altona,1/265 Queen St,3,t,800000.0,SP,hockingstuart,8/10/2016,13.8,3018.0,3.0,2.0,2.0,280.0,NaN,1997.0,Hobsons Bay,-37.87340,144.81430,Western Metropolitan,5301.0
158,Altona,1A Merritt Ct,3,t,705000.0,S,hockingstuart,11/02/2017,13.8,3018.0,3.0,2.0,2.0,197.0,152.0,NaN,Hobsons Bay,-37.85790,144.81810,Western Metropolitan,5301.0
162,Altona,1/152 Blyth St,3,t,743000.0,SP,Gunn&Co,12/11/2016,13.8,3018.0,3.0,2.0,2.0,211.0,176.0,NaN,Hobsons Bay,-37.86980,144.81600,Western Metropolitan,5301.0
173,Altona,12 Spear Ct,3,t,605100.0,S,hockingstuart,22/05/2016,13.8,3018.0,3.0,2.0,0.0,265.0,NaN,NaN,Hobsons Bay,-37.85830,144.81720,Western Metropolitan,5301.0
8568,Altona,2/214 Queen St,2,t,600000.0,SP,hockingstuart,20/05/2017,13.8,3018.0,2.0,1.0,2.0,190.0,NaN,NaN,Hobsons Bay,-37.87180,144.81900,Western Metropolitan,5301.0
8569,Altona,3/8 Rayner St,2,t,597500.0,S,hockingstuart,22/04/2017,13.8,3018.0,2.0,1.0,2.0,178.0,NaN,2009.0,Hobsons Bay,-37.87010,144.82090,Western Metropolitan,5301.0
9398,Altona,1/20 Mulga St,3,t,765000.0,S,Williams,17/06/2017,11.0,3018.0,3.0,2.0,2.0,200.0,139.0,2007.0,Hobsons Bay,-37.86837,144.81502,Western Metropolitan,5301.0
11266,Altona,65 Sargood St,3,t,815000.0,S,hockingstuart,15/07/2017,11.0,3018.0,3.0,2.0,2.0,159.0,130.0,2014.0,Hobsons Bay,-37.86472,144.82929,Western Metropolitan,5301.0
11564,Altona,1/26 Maidstone St,4,t,820000.0,SP,hockingstuart,22/07/2017,11.0,3018.0,4.0,2.0,2.0,288.0,NaN,1970.0,Hobsons Bay,-37.87171,144.81273,Western Metropolitan,5301.0

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [104]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [105]:
df1 = df[['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount']]
df1.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,-37.8072,144.9941,Northern Metropolitan,4019.0

In [106]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  Lattitude      13580 non-null  float64
 15  Longtitude     13580 non-null  float64
 16  Regionname     13580 non-null  object
 17  Propertycount  13580 non-null  float64
dtypes: float64(10), int64(1), object(7)
memory usage: 1.9+ MB

In [107]:
import datetime as dt
df1['Date'] = df1['Date'].apply(pd.to_datetime)
# df1['Date'] = pd.to_datetime(df1['Date'])
df1['Date'] = pd.to_datetime(df1['Date'], format = '%m/%d/%Y')
#df1['Date'] = pd.to_datetime(df1['Date'], format='%m/%d/%Y')

C:\Users\pusha\AppData\Local\Temp\ipykernel_7616\909402944.py:2: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df1['Date'] = df1['Date'].apply(pd.to_datetime)
C:\Users\pusha\AppData\Local\Temp\ipykernel_7616\909402944.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Date'] = df1['Date'].apply(pd.to_datetime)
C:\Users\pusha\AppData\Local\Temp\ipykernel_7616\909402944.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Date'] = pd.to_datetime(df1['Date'], format = '%m/%d/%Y')

In [109]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  datetime64[ns]
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  Lattitude      13580 non-null  float64
 15  Longtitude     13580 non-null  float64
 16  Regionname     13580 non-null  object
 17  Propertycount  13580 non-null  float64
dtypes: datetime64[ns](1), float64(10), int64(1), object(6)
memory usage: 1.9+ MB

Ques 3) For the suburb Abbotsford, what is the probability that out of 10 properties sold, 3 will not have car parking? 
Use the column car in the dataset.Round off your answer to 3 decimal places.

In [110]:
df_Abbotsford = df1[df1['Suburb'] == 'Abbotsford']
df_Abbotsford.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-03-12,2.5,3067.0,2.0,1.0,1.0,202.0,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,2016-04-02,2.5,3067.0,2.0,1.0,0.0,156.0,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,2017-04-03,2.5,3067.0,3.0,2.0,0.0,134.0,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,2017-04-03,2.5,3067.0,3.0,2.0,1.0,94.0,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,2016-04-06,2.5,3067.0,3.0,1.0,2.0,120.0,-37.8072,144.9941,Northern Metropolitan,4019.0

Total No. of Abbotsford Properties

In [111]:
Total_no_properties = len(df_Abbotsford)
Total_no_properties

56

No. of No Parking Properties

In [112]:
no_parking = len(df_Abbotsford[df_Abbotsford['Car'] == 0])
no_parking

15

Probability of having no Car Parking

In [114]:
prob_no_parking = no_parking/Total_no_properties
prob_no_parking

0.26785714285714285

Calculate probability of 3 out of 10 having no car parking

In [115]:
n = 10 # Total properties sold
k = 3 # property withour car parking
pmf=binom.pmf(k, n, prob_no_parking)
pmf

0.2600529293316224

Round of to 3 decimal places

In [116]:
prob_round3 = round(pmf,3)
prob_round3

0.26

Ques 4)  In the suburb Abbotsford, what are the chances of finding a property with 3 rooms?
Round your answer to 3 decimal places.

In [117]:
rooms_3 = len(df_Abbotsford[df_Abbotsford['Rooms'] == 3])
rooms_3

20

In [118]:
prob_3rooms = rooms_3/Total_no_properties
prob_3rooms

0.35714285714285715

Round of to 3 decimal places

In [119]:
p_round_3rooms = round(prob_3rooms,3)
p_round_3rooms

0.357

Ques 5) In the suburb Abbotsford, what are the chances of finding a property with 2 bathrooms? 
Round your answer to 3 decimal places.

In [120]:
bathroom_2 = len(df_Abbotsford[df_Abbotsford['Bathroom'] == 2])
bathroom_2

19

In [121]:
prob_2bathroom = bathroom_2/Total_no_properties
prob_2bathroom

0.3392857142857143

Round of to 3 decimal places

In [83]:
p_round_2bathroom = round(prob_2bathroom,3)
p_round_2bathroom

0.339